# Add any directories, files, or patterns you don't want to be tracked by version control

/log
/results
/.project
/.pydevproject
/final_results
/results
/status
/test
/__pycache__

*.project
*.pydevproject
*.pyc
*.sublime-project
*.sublime-workspace

__pycache__
