{% load blog_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="{% static 'css/blog-post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">

{% block head_block %}
{% endblock %}

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome Ian's Blog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="{%url 'blog:post_list'%}">Home</a></li>
      {% if user_login == 1 %}
      <li><a href="{%url 'blog:create_new_post' %}">New</a></li>
      {% endif %}
      <li><a href="#">About me</a></li>

      {% if user_login == 1 %}
      <li><a href="{%url 'blog:user_logout'%}">Logout</a></li>
      {% else %}
      <li><a href="{%url 'blog:user_login'%}">Login</a></li>
      {% endif %}

    </ul>
  </div>
</nav>


<div class="container">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-lg-9">
        <!-- Title -->
          <h1 class="mt-4">
          {% block title %}
	         {% endblock %}
          </h1>

          <hr>
	        {% block content %}
	        {% endblock %}
          <hr>

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-3">
          <!-- Search Widget -->

            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
              <br>
              {% if user_login == 1 and is_detail %}
              <a href="{% url "blog:post_update" post.slug %}" class="btn btn-default">Modify</a>
              {% endif %}

            </div>

            <br>
            <br>
            <h5 class="card-header">Catalog</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Python</a>
                    </li>
                    <li>
                      <a href="#">PostgreSql</a>
                    </li>
                    <li>
                      <a href="#">Linux</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">AWS</a>
                    </li>
                    <li>
                      <a href="#">Web</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="m-0 text-muted">Copyright &copy; Ian Wang's Website 2017</p>
      </div>
    </footer>
</body>

</html>
